@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');


.barContent {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 2rem;  
}

.cine {
   background: linear-gradient(92deg, #453C92 3.32%, #5F23A5 49.69%);
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Mochiy Pop One";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dev {
 color: rgba(255, 255, 255, 0.82);
 font-family: "Mochiy Pop One";
 font-size: 35px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
}

.list {    
  display: flex;
  gap: 6rem; 
  list-style: none;   
}


.links {    
  position: relative;
  color: #FFF;
  font-family: "Heebo";  
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
  }

  .links::before {
    content:  " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg,#a993fe 0%, #7e61e7 100%) ;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.links:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.menuBtn {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius:0.4rem ;
  color: #fff;
  background:linear-gradient(90deg,#a993fe -0.13%, #7e61e7 99.87%) ;
  line-height: 0;
  cursor: pointer;
  transform: all 0.4s ease;
  display: none;

}

.menuBtn:hover {
  color: #a993fe;
  background: #000;
  border: 1px solid #a993fe;
}



@media (max-width: 769px) {

  .menuBtn {
      display: block;
  }

  .dev , .cine {
    display: none;
  }

  .barContent ul {
      display: none;
  }
  
}

@media (max-width: 1325px) {
.nav-wrapper {
  padding: 0 2rem;
}


}




