@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#main {
  flex: 1;
  width: 1200px;
  margin: auto;
  padding: 2.5rem 0; 

}

.texts {
  margin-left: 2rem;
}

.title {
  color: #FFF;
  font-family: "Secular One";
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle {
  color: #FFF;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.45px;
  width: 475px;
  height: 124px;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  .subtitle {
    max-width: 280px;
  }

  
#main {  
  width: 100%;
 

}
}