@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {  
  padding: 0; 
  margin: 0;
  box-sizing:border-box; 
  background-color: #090621; 
   
}


@media (min-width: 1280px) {

  body {        
    background-image: url('../app/assets/star_wars.jpg');
    background-repeat: no-repeat cover;
  }
  
 
}