.page {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card {
    display: flex;
    gap: 1.25rem;
    background-color: rgb(24 24 27);
}

@media (max-width: 768px) {
    .card {        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0.5rem 0;
        margin-left: 1rem;
        

    }

}